.about {
  padding: 80px 130px;
}
.about-title {
  margin: 0;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-family-b);
}
.about-subtitle {
  margin: 0;
  font-size: 32px;
  color: var(--color-black);
  font-family: var(--font-family-l);
  margin-top: 15px;
}
.about-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.about-card {
  display: flex;
  flex-direction: column;
}
.about-card-img1,
.about-card-img2,
.about-card-img3,
.about-card-img4 {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.about-card-img1 {
  background: var(--color-pink-dark);
}
.about-card-img2 {
  background: var(--color-blue-dark);
}
.about-card-img3 {
  background: var(--color-purple-dark);
}
.about-card-img4 {
  background: var(--color-green-dark);
}
.about-card-title {
  margin: 0;
  font-size: 24px;
  color: var(--color-black);
  font-family: var(--font-family-b);
  margin-top: 24px;
}
.about-card-description {
  margin: 0;
  font-size: 18px;
  color: var(--color-black);
  font-family: var(--font-family-l);
  margin-top: 16px;
  padding-bottom: 8px;
  line-height: 32px;
}

.about-button {
  margin-top: auto;
  width: 146px;
  height: 48px;
  font-size: 18px;
}
