.header {
  justify-content: space-between;
  display: flex;
  align-content: center;
  padding: 16px 130px;
  box-shadow: 0px 2px 4px rgba(38, 50, 56, 0.16),
    0px 4px 8px rgba(38, 50, 56, 0.08);
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-title {
  font-size: 48px;
  font-family: var(--font-family-b);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-link {
  text-decoration: none;
  color: var(--color-purple-dark);
  font-family: var(--font-family-r);
  font-size: 18px;
  outline: none;
  transition: color var(--animation);
}

.header-link:hover,
.header-link:focus {
  color: var(--color-purple-light);
}

.header-link-active {
  font-size: 18px;
  color: var(--color-black);
  font-family: var(--font-family-b);
}

.header-link-point {
  background: var(--color-yellow-dark);
  height: 9px;
  width: 9px;
  border-radius: 50%;
  margin: 0 16px;
}

.header-button {
  width: 170px;
  height: 64px;
}
